html{
    font-size: 62.5%;   
}
*{
    margin: 0;
    padding: 0;
}

:root{
    --Gemunu: 'Gemunu Libre', sans-serif;
    --Lato: 'Lato', sans-serif;
}

var{
    font-family: --Gemunu;
    font-family: --Lato;
}

body{
    background-color: #a7d796;
}

.body{
    background-color: #f2f2f2;
    width: 39rem;
    height: 48rem;
    margin: 10rem auto;
    border-radius: 0.8rem;
    box-shadow: 0.1rem 1rem 1rem #6a885f;
    border-bottom: 0.4rem solid #c6c5c6;
    position: relative;
}

.body__title{
    display: flex;
    position: relative;
    padding-top: 1rem;
}
.body__title--img{
    display: flex;
    justify-content: center;
    width: 100%;
}
img.red{
    position: absolute;
    z-index: 2;
    top: 0.2rem;
    left: 0.3rem;
}

img.red__down{
    position: absolute;
    z-index: 2;
    top: 0.7rem;
    left: 0.3rem;
    transform: rotate(180deg);
}
img.green{
    position: absolute;
    z-index: 2;
    top: 0.2rem;
    left: 3.7rem;
}
img.green__down{
    position: absolute;
    z-index: 2;
    top: 0.7rem;
    left: 3.7rem;
    transform: rotate(180deg);
}

img.yellow{
    position: absolute;
    z-index: 1;
    top: 0.2rem;
    left: 2rem;
}
img.yellow__down{
    position: absolute;
    z-index: 1;
    top: 0.7rem;
    left: 2.05rem;
    transform: rotate(180deg);
}
.body__btn{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}
.body__btn > img{margin-left: 0.5rem;}

.body__display{
    display: flex;
    width: 35rem;
    height: 7rem;
    background-color: #1c1c1c;
    margin: auto;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    border: 0.15rem solid #808183;
    
}



.body__display >img{
    
width: 27.5rem;
    
height: 48rem;
    
position: absolute;
    
right: 0;
    
top: 0;
}

.body__display--minus{
    position: absolute;
    right: 15%;
}
.body__display--minus > img{
    width: 0.8rem;
}

.body__display--round{
    color: white;
    position: absolute;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 0.9rem;
    right: 6%;
}

.body__display--text{
    
width: 33rem;

/* overflow-x: scroll;
height: 7rem;  */
text-align: start;
    
margin-left: 1.1rem;
overflow-x: auto;

}

.body__display--text::-webkit-scrollbar{
    width: 0;
}

.body__display--text > span{
    
font-size: 2.5rem;
font-weight: 700;
    
color: white;
    
font-family: var(--Gemunu);
}
.body__display--result{
    /* width: 100%; */
    display: flex;
    align-items: end;
    justify-content: flex-end;
}
.body__display--result > span{
    font-size: 3rem;
    color: white;
    margin: 0 1.5rem 0.1rem 0;
    font-family: var(--Gemunu);
    font-weight: 700;
}

.body__number{
    margin: 2rem 2rem 0 2.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    position: absolute;
    z-index: 2;
}
.body--equal{align-items: flex-end !important;}
.body__item{width: 7.5rem;height: 4rem;border: 0.2rem solid #e4e4e4;border-radius: 0.5rem;display: flex;justify-content: center;align-items: center;cursor: pointer;}
.body__item:hover{
    background-color: #8080804a;
    transition: 0.3s all;
}
.body__item span{text-transform: uppercase;font-size: 2rem;font-family: var(--Lato);font-weight: 400;color: gray;}
.number--0{
    grid-column: 1/3;
    grid-row: -2/-1;
    height: 4rem;
    width: 100%;
}
.number--equal{
    grid-column: -1/-2;
    grid-row: -1/-3;
    width: 7.5rem;
    height: 100%;
}
